@import "~bootstrap/scss/bootstrap.scss";

.card{
margin-left: 2rem;
margin-top: 3rem;

}
.cardbox{
    display: flex;
}


/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
